

.fullName {
  font-size: 18px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 35px;
  text-transform: capitalize;
  position: relative;
}
.fullName:before {
  bottom: -12px;
  left: 0;
  width: 30px;
  height: 1px;
  content: '';
  position: absolute;
  background-color: #dc4734;
}

.fullNameWrapper {
  justify-content: space-between;
  display: flex;
}