.inputText {
  box-shadow: inset 0px 1px 10px 0px rgba(85, 85, 85, 0.2);
  border: none;
  display: block;
  height: 30px;
  border-radius: 15px;
  background-color: #f1f1f1;
  padding: 8px 20px;
  outline: none;
  box-sizing: border-box;
  width: 100%;
font-family: 'Roboto', sans-serif;
    color: #444444;
    font-size: 14px;
    font-weight: 400;
}