{
  "printWidth": 120,
  "singleQuote": true,
  "tabWidth": 2,
  "jsxSingleQuote": true,
  "bracketSpacing": false,
  "jsxBracketSameLine": true,
  "parser": "babel",
  "endOfLine":"auto",
  "arrowParens": "always"
}