.avatar {position: relative;}

.avatar img {
  width: 270px;
  height: 270px;
}

.aboutWrapper {
  background-color: #ffffff;
  color: #444444;
  margin-bottom: 15px;
  padding: 10px;
  margin-right: 15px;
  box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);
  height: fit-content;
  
}

.uploadPhoto {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 4px;
  opacity: 0;
}

.avatar img:hover +.uploadPhoto,
.uploadPhoto:hover {
  opacity: 1;
  transition: 0.4s;
}

.uploadPhoto:hover {
  color:  #e47263;
  background-color: #f1f1f144;
  border-radius: 3px;
}

.userInfo {
  padding: 15px;
  display: flex;
  flex-direction: column;
  line-height: 20px;
}

.status {
  line-height: 34px;
  margin: 15px 0;
}